<%#= flash[:notice]%>
<div class="d-flex align-items-center justify-content-center">
    <h1>Hello Owner welcome to your Restaurant index page</h1>
</div>

<div class="container"> 
    <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" >
     <div class="d-flex align-items-center justify-content-center">
    <h1>Hello Owner welcome to your Restaurant index page</h1>
</div>
    <%# <img src="images/pexels-ash-376464.jpg"> %>
</div>